@import "utils"
@import "sprite"

.news
  background-color: #fff
  margin-top: 25px
  position: relative
  &__controls
    position: absolute
    top: 0
    left: 0
  &__content
    padding: 35px 50px
    color: #707070
    font-family: Nexa, Arial, sans-serif
    @extend %box-shadow
    h1, h2, h3
      font-size: 30px
      font-weight: 700
      line-height: 40px
      margin-bottom: 35px
    a
      color: #f26c4f
      //font-size: 14px
      font-weight: 700
      line-height: 25px
      text-decoration: none
    p
      font-size: 12px
      line-height: 25px
      &:not(:last-child)
        margin-bottom: 40px
      &.intro
        font-size: 14px
        font-weight: 700


  &__info
    color: #a2a2a2
    font-family: Nexa, Arial, sans-serif
    @extend %box-shadow
    font-size: 12px
    font-weight: 700
    line-height: 24px
    padding: 15px 25px
    background-color: #efefef
    input[type=checkbox]
      display: none
      &:checked + label
        color: #f26c4f
    &__like-lbl
      float: right

  &__img
    position: relative

.news-with-image
  .news-controls__btn-pin
    background-color: #363339
  .news__controls
    right: 0
    bottom: 3px
    top: auto
    left: auto

.news-controls__btn
  border: none
  width: 30px
  height: 30px
  opacity: 0.8
  font-size: 20px
  line-height: 29px
  color: #fff
  cursor: pointer
  float: left
  outline: none
  position: relative
  &-pin
    background-color: #cacaca
  &-skip
    background-color: #f26c4f
    &:after
      content: ''
      position: absolute
      +s($arrow-right-white)
      +center()

